DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech:5432/almi_cv_v2?schema=public"
DATABASE_URL_UNPOOLED="postgresql://user:password@host.region.aws.neon.tech:5432/almi_cv_v2?schema=public"

RESEND_API_KEY=""
EMAIL_FROM="onboarding@resend.dev"

ALMIJOB_BASE_URL="https://almijob.almiworld.com"
